
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
  background-color: #f4f4f4;
}

#app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

header {
  background-color: #ffcc00;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #333;
  font-size: 2.5rem;
}

main {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

main h2 {
  color: #333;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer p {
  font-size: 0.9rem;
}
